@CHARSET "UTF-8";
body, html{
	height: 100%;
}
.content-elecciones{
	padding: 10px;
	background-image: url(/Votapp/resources/img/textures/sprinkles.png);
	background-color: #758eb3;
	width: 100%;
	height: 100%;
}
.eleccion-previa{
	margin-top: 10px;
}
.votapp-descripcion{
	font-size: 1em;
}
.votapp-departamentos{
	margin: 1.2em;
}
.container-departamento{
	margin-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
}
body{
	padding: 0 0 0 0;
}
.full-size{
	height: 100%;
}


.first{	
	width: 100%;
	height: 100%;
	padding: 5%;
    background-color: #67c9fd;
	background-image: url(/Votapp/resources/img/textures/60-lines.png);
}

.second{	
	width: 100%;
	height: 100%;
	background-color: #aaa;
	padding-top:4em;    
}

.third{	
	width: 100%;
	height: 100%;
	background-color: #777;
	padding-top:4em;    
}

.fourth{
	width: 100%;
	height: 100%;
	background-color: #555;
	padding-top:4em; 
}

.fifth{
	width: 100%;
	height: 100%;
    background-color: #2e98d0;
	background-image: url(/Votapp/resources/img/textures/3px-tile.png);
	padding-top:4em; 
}

.imagen:hover {
   -webkit-transform: scale(1.1, 1.1);
   -moz-transform: scale(1.1, 1.1);
   -ms-transform: scale(1.1, 1.1);
   -o-transform: scale(1.1, 1.1);
   transform: scale(1.1, 1.1);
   color:black;
   background-color: #aaa;
   border: solid 4px #5bc0de;
  
}

.candidatoMini{
   color: rgb(85, 85, 85);
   text-align: center;
   background-color: white;
   padding-top: 1%;
   margin: 2%;
   
}

a {
	text-decoration: none !important;
	color:black;
}

.eleccion{
	
}
.container-panel-votapp{
	margin: 4%;
}

.info-eleccion-votapp{
	background-color: white;
	height: inherit;
    border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	width: initial;
	background: rgba(255,255,255,0.8);
    padding: 1em;
}

.img-votapp-eleccion{
	/*max-width: 50%;*/
	
}

.eleccion-container{
	/*padding: 5%*/
	width: 100%;
	height: inherit;
}
.partidos-titulo{
	font-size: 1.8em;
}
.partidos-titulo span{
	margin-left: 20px;
}
.noticias-votapp {
	height: inherit;
    padding-top: 10%;
}
/********************/
/**** CANDIDATOS ****/
/********************/

/* contenedor de TODOS los candidatos */
.contenedor-candidatos{
	height: 90%;
	overflow-y: scroll;
	
}
/* paginado que va debajo del contenedor de candidatos */
.paginado-votapp{
	height: 10%;
	text-align: center;
}
/* contenedor de UN candidato */
.contenedor-candidato{
	max-height: 150px;
	margin-top: 1em;
	/*background-color: white;
	border: 2px solid #a1a1a1;
    border-radius: 10px;*/
    padding-bottom: 10px;
}
.contenedor-candidato span{
	display: block;	
}
.contenedor-candidato img{
	margin-top: 20px;
}
.candidatos-titulo{
	font-size: 1.8em;
}
.candidatos-titulo span{
	margin-left: 20px;
}