<div ng-include src="'layout/headerSecundario.html'"></div>
<style type="text/css" votapp-style eleccion="eleccion"></style>
<div class="profile-bio"  style="padding-top:4em;">
    <div class="row" ng-show="eleccion.tipoEleccion != 'Simple'">
        <div class="col-md-5 col-xs-5 col-lg-5">
        	<img class="img-responsive md-margin-bottom-10"  ng-src="data:image/{{candidato.imagen.tipo}};base64,{{candidato.imagen.file}}" alt="{{candidato.imagen.name}}" class="img-responsive">
        </div>
        <div class="col-md-7" >
            <h2>{{candidato.nombre}}</h2>
            <span><strong>Edad: </strong> {{candidato.edad}}</span>
            <span  ng-hide="eleccion.tipoEleccion == 'Otra'"><strong>Partido: </strong> {{candidato.nombrePartido}}</span>
            <span><strong>Puesto: </strong> {{candidato.cargo}}</span>
			<strong>Listas: </strong> <span ng-repeat="lista in candidato.dataListas">{{lista.numero}}</span>
            <p>{{candidato.biografia}}</p>
        </div>
    </div>
      <div class="row" ng-show="eleccion.tipoEleccion == 'Simple' && candidato.nombre =='Si'">
        <div class="col-md-5 col-xs-5 col-lg-5">
        	<img class="img-responsive md-margin-bottom-10" src="resources/img/Si.png" class="img-responsive">
        </div>
    </div> 
     <div class="row" ng-show="eleccion.tipoEleccion == 'Simple' && candidato.nombre =='No'">
       <div class="col-xs-6 col-md-4"></div>
        <div class=".col-xs-6 .col-md-4">
        	<img class="img-responsive md-margin-bottom-10" src="resources/img/No.png" class="img-responsive">
        </div>
          <div class="col-xs-6 col-md-4"></div>
    </div>      
</div>
<div ng-repeat="fuen in fuentes" ng-switch="fuen.tipo">
      <div ng-switch-when="facebook">
     	   	<div class="height-social facebook-container col-md-4">
     	   	<div class="header-social-votapp">
     	   		<i class="white-votapp fa fa-facebook fa-3x">
     	   		</i><span>Facebook</span>
     	   	</div>
     	   	<hr>
     	   	<div facebook-votapp fuente="fuen"></div>	 
     	   	
     	   	</div>
	  </div>
	  
	  <div ng-switch-when="twitter">
       		<div class="height-social twitter-container col-md-4">
       		<div class="header-social-votapp">
       			<i class="white-votapp fa fa-twitter fa-3x">
     	   		</i><span>Twitter</span>
       		</div>
       		<hr>
       		<div twitter-votapp fuente="fuen"></div>
			  		
			  		</div>
			  </div>
	  
	  <div ng-switch-when="youtube">
	  		<div class="height-social youtube-container col-md-4">
	  		<div class="header-social-votapp">
	  			<i class="white-votapp fa fa-youtube-play fa-3x">
     	   		</i><span>YouTube</span>
	  		</div>
	  		<hr>
	  		<div youtube-votapp fuente="fuen"></div>
    		
    		</div>
	  </div> 
</div>
		
		
	
