
<h1>NOMBRE DEPARTAMENTO</h1>
<div class="row">

   <div class="panel panel-default" style="width: 50%;margin: 2%;">
  	<div class="panel-heading">Candidatos:</div>
  		<div class="panel-body">
   			<div class="list-group">
					<a href="#" class="list-group-item" ng-repeat="candi in candidatosXDepto"   ui-sref="candidato({eleccionId: eleccion.id, candidatoId: candi.id})" >
						    <h4 class="list-group-item-heading">{{candi.nombre}}</h4>
						    <p class="list-group-item-text">{{candi.nombrePartido}}</p>
					</a>
			</div>
  		</div>
	</div>
	
	 <div class="panel panel-default" style="width: 50%;margin: 2%;">
  	<div class="panel-heading">Partidos:</div>
  		<div class="panel-body">
   			<div class="list-group col-xs-5">
					<a href="#" class="list-group-item"  ng-repeat="partido in partidosXDeptos" ui-sref="partido({eleccionId: eleccion.id, partidoId: partido.id})" >
					    <h4 class="list-group-item-heading">{{partido.nombre}}</h4>
					</a>
			</div>
  		</div>
	</div>
	
	
</div>




