<style type="text/css" votapp-style eleccion="eleccion"></style>

<div ng-include src="'layout/header.html'"></div>

<div id="first" class="first eleccion-first">
  	 <div class="container info-eleccion-votapp" >
	 	<div class="col-xs-6 col-md-6 img-votapp-eleccion">
	    	 <img class="img-responsive" ng-src="data:image/{{eleccion.logo.tipo}};base64,{{eleccion.logo.file}}" alt="{{eleccion.logo.name}}">
  	 	</div>
	 	<div class="col-md-6 col-xs-6">
				<h1>{{eleccion.nombre}}</h1>
				<h3>{{eleccion.fecha | date:'dd-MM-yyyy'}}</h3>
				<br>
				<p>{{eleccion.descripcion}}</p>
				<br>
				<!-- 
				<div>
		           	<select ng-options="depto.nombre for depto in deptos| orderBy:'nombre'" ng-model="depto"></select> 
		           	
		            <br>
				</div>-->
  		</div>
		<div  ng-show="eleccion.tipoEleccion == 'Departamental'" class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
			
			<h4>Escriba su departamento:</h4>
           	<input type="text" ng-model="selected" typeahead-on-select="updateDpto($item)" typeahead="depto.nombre for depto in deptos | filter:{'nombre':$viewValue} | limitTo:8" class="form-control">
			<hr>
			<a class="btn btn-info" ui-sref="departamento({eleccionId: eleccion.id, departamentoId: dpto.id})" role="button">Ver Info »</a>
		</div>
	</div>
</div>
	

<div id="second" class="second eleccion-second" ng-hide="eleccion.tipoEleccion == 'Departamental'">
	<div class="container contenedor-candidatos">
		<div class="col-md-6 contenedor-candidato" ng-repeat="candidato in eleccion.dataCandidatos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" >
			<div class="col-xs-4 col-md-4">
				<img  class="img-thumbnail img-responsive"  ng-src="data:image/{{candidato.imagen.tipo}};base64,{{candidato.imagen.file}}" alt="{{candidato.imagen.name}}"/>
			</div>
			<div class="col-xs-8 col-md-8">
			<h3>{{candidato.nombre}}</h3>
			<span ng-hide="eleccion.tipoEleccion == 'Otra'">Partido: <strong>{{candidato.nombrePartido}}</strong></span>
			<span> Cargo: <strong>{{candidato.cargo}}</strong></span>
			<span> Edad: <strong>{{candidato.edad}}</strong></span>
			<span> Listas: <strong ng-repeat="lista in candidato.dataListas"> {{lista.numero}}</strong></span>
 			<a class="btn btn-default btn-xs" ui-sref="candidato({eleccionId: eleccion.id, candidatoId: candidato.id})" role="button">Ver más »</a>
    		</div>
	    </div><!-- ng repeat de candidatos -->
	</div>
	<div class="paginado-votapp">
		<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" class="pagination-sm" items-per-page="itemsPerPage" boundary-links="true" first-text="Primera" last-text="Ultima" previous-text="« Anterior" next-text="Siguiente »" ></pagination>
	</div>
</div>

<div id="third" class="third eleccion-third" ng-hide="eleccion.tipoEleccion == 'Otra' ||  eleccion.tipoEleccion == 'Departamental' || eleccion.tipoEleccion == 'Simple' ">
	<div class="container contenedor-candidatos">
		 <div class="col-md-6 contenedor-candidato" ng-repeat="partido in eleccion.dataPartidos.slice(((currentPagePartidos-1)*itemsPerPagePartidos), ((currentPagePartidos)*itemsPerPagePartidos))" >
			<div class="col-xs-4 col-md-4">
				<img  class="img-thumbnail img-responsive"  ng-src="data:image/{{partido.imagen.tipo}};base64,{{partido.imagen.file}}" alt="{{partido.imagen.name}}"/>
			</div>
			<div class="col-xs-8 col-md-8">
			<h3>{{partido.nombre}}</h3>
			<span> Fundación: <strong>{{partido.fechaFundacion | date:'dd-MM-yyyy'}}</strong></span>
			<span> Listas: <strong ng-repeat="lista in partido.listas"> {{lista.numero}}</strong></span>
 			<a class="btn btn-default btn-xs" ui-sref="partido({eleccionId: eleccion.id, partidoId: partido.id})" role="button">Ver más »</a>
    		</div>
	    </div><!-- ng repeat de candidatos -->
	</div>
	<div class="paginado-votapp">
		<pagination total-items="totalItemsPartidos" ng-model="currentPagePartidos" ng-change="pageChangedPartidos()" class="pagination-sm" items-per-page="itemsPerPagePartidos" boundary-links="true" first-text="Primera" last-text="Ultima" previous-text="« Anterior" next-text="Siguiente »" ></pagination>
	</div>
</div>

 <div id="fourth" class="fourth eleccion-fourth" ng-hide="eleccion.tipoEleccion == 'Departamental'">
		<div class="container">
		    <carousel interval="myInterval" class="carousel-votapp" on-carousel-change="onSlideChanged(nextSlide, direction)">
		      <slide ng-repeat="encuesta in encuestas" >
		      		<div class="slide-votapp text-center">
				        <div ng-attr-id="{{ 'container-' + encuesta.id }}" ng-click="goToEncuesta(encuesta)">
				        </div>
				        <div class="carousel-caption">
		          			<h4>{{encuesta.dataConsultora.nombre}}</h4>
		          			<p>{{encuesta.dataConsultora.descripcion}}</p>
		        		</div>
	        		</div>
		      </slide>
		    </carousel>
		</div>
		</div>

<div id="fifth" class="fifth eleccion-fifth" >
	<div class="container noticias-votapp">
		<div ng-repeat="fuen in noticias" ng-switch="fuen.tipo">
		   	<div ng-switch-when="facebook">
		  	   	<div class="height-social facebook-container col-md-4">
		  	   	<div class="header-social-votapp">
		  	   		<i class="white-votapp fa fa-facebook fa-3x">
		  	   		</i><span>Facebook</span>
		  	   	</div>
		  	   	<hr>
		  	   	<div facebook-votapp fuente="fuen"></div>	
		  	   	</div>
			</div>
		  	<div ng-switch-when="twitter">
	       		<div class="height-social twitter-container col-md-4">
	       		<div class="header-social-votapp">
	       			<i class="white-votapp fa fa-twitter fa-3x">
	     	   		</i><span>Twitter</span>
	       		</div>
	       		<hr>
	       		<div twitter-votapp fuente="fuen"></div>
	  			</div>
		  	</div>
		  	<div ng-switch-when="youtube">
		  		<div class="height-social youtube-container col-md-4">
		  		<div class="header-social-votapp">
		  			<i class="white-votapp fa fa-youtube-play fa-3x">
	     	   		</i><span>YouTube</span>
		  		</div>
		  		<hr>
		  		<div youtube-votapp fuente="fuen"></div>
   			</div>
		  </div> 
		</div>
	</div>	
	</div> 