<div id="content-elecciones" class="container">
	<div class="row" style="padding-top:4em;" >
	       <div class="col-lg-4" ng-repeat="eleccion in elecciones" >
	         <img class="img-circle" ng-src="data:image/{{eleccion.logo.tipo}};base64,{{eleccion.logo.file}}" alt="{{eleccion.logo.name}}" width="140" height="140">
	         <h2>{{eleccion.nombre}}</h2>
	         <p>{{eleccion.descripcion}}</p>
	         <p><a class="btn btn-default" ui-sref="eleccion({ eleccionId: eleccion.id})" role="button">Ver más »</a></p>
	       </div><!-- /.col-lg-4 -->
	</div>
</div>
